{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<style>
    .scrollable-container {
      max-height: 200px; /* Set the height limit */
      overflow-y: auto; /* Enable vertical scrolling */
      border: 1px solid #ddd; /* Optional: Add a border */
      padding: 10px; /* Optional: Add padding */
    }
</style>

{% block page_content %}
<div class="scrollable-container">
    <div class="page-header">
        {% if nome %}
            <h1>Olá, {{nome}}!</h1>
        {% else %}
            <h1>Olá, Estranho!</h1>
        {% endif %}
        {% if known %}
            <p>Feliz em vê-lo novamente!</p>
        {% else %}
            <p>Prazer em conhecê-lo!</p>
        {% endif %}
    </div>
    {{ wtf.quick_form(form) }}
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
    <h2>Relação de usuários cadastrados</h2>
</div>
{% endblock %}
