{% extends "base.html" %}
{% block page_content %}
    {% if name %}
        <br>
        <h1>Hello, {{name}}!</h1>
        <hr>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label }}
            {{ form.name() }}
            <br>
            <br>
            {{ form.submit() }}
        </form>
    {% else %}
        <br>
        <h1>Hello, Stranger!</h1>
        <hr>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label }}
            {{ form.name() }}
            <br>
            <br>
            {{ form.submit() }}
        </form>
    {% endif %}
{% endblock %}
